In [1]:
# from images import bigpycraft_bda as bpc
from IPython.display import Image 

import platform

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

plt.rcParams["figure.figsize"] = [12,6]

%matplotlib inline

In [3]:
# 불러오기
df_cctv = pd.read_csv('./seoul_data/seoul_cctv_status_by_year.csv',  encoding='utf-8')
df_cctv.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [4]:
# 철럼명 한 번 확인
df_cctv.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [5]:
# 컬럼명을 변경
df_cctv.rename(columns={df_cctv.columns[0] : '구'}, inplace=True)
df_cctv.rename(columns={df_cctv.columns[1] : 'CCTV수'}, inplace=True)
df_cctv.head()

     구  CCTV수  2013년도 이전  2014년  2015년  2016년
0  강남구   3238       1292    430    584    932
1  강동구   1010        379     99    155    377
2  강북구    831        369    120    138    204
3  강서구    911        388    258    184     81
4  관악구   2109        846    260    390    613

## 서울시 공공데이터2

In [9]:
population_xls = './seoul_population_Report.xls'
df_pop_seoul = pd.read_excel(population_xls,  encoding='utf-8')

In [11]:
df_pop_seoul.head(10)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2019.2/4,합계,4304243,10041574,4899133,5142441,9757144,4762711,4994433,284430,136422,148008,2.27,1451564
3,2019.2/4,종로구,73828,162413,78657,83756,152026,74190,77836,10387,4467,5920,2.06,27155
4,2019.2/4,중구,62156,136276,66919,69357,126143,62086,64057,10133,4833,5300,2.03,22749
5,2019.2/4,용산구,109692,245069,119507,125562,229122,110560,118562,15947,8947,7000,2.09,38259
6,2019.2/4,성동구,136872,312991,153027,159964,304936,149412,155524,8055,3615,4440,2.23,43370
7,2019.2/4,광진구,163914,369470,178493,190977,353878,171800,182078,15592,6693,8899,2.16,46773
8,2019.2/4,동대문구,162851,363101,178840,184261,346501,172490,174011,16600,6350,10250,2.13,58078
9,2019.2/4,중랑구,181383,405639,200966,204673,400661,198906,201755,4978,2060,2918,2.21,63670

In [12]:
# 머리는 세 번째 라인으로 함
# 기간이 A인데, 기간 다음 컬럼을 다 불러옴.
population = pd.read_excel(population_xls,
                           header = 2,
                           usecols = "B, C, D, G, J, N",
                           encoding = "utf-8" 
                          )
population.head()

   자치구       세대         계      계.1     계.2  65세이상고령자
0   합계  4304243  10041574  9757144  284430   1451564
1  종로구    73828    162413   152026   10387     27155
2   중구    62156    136276   126143   10133     22749
3  용산구   109692    245069   229122   15947     38259
4  성동구   136872    312991   304936    8055     43370

In [13]:

population.rename(columns={population.columns[0] : '구', 
                           population.columns[1] : '세대수', 
                           population.columns[2] : '인구수', 
                           population.columns[3] : '한국인', 
                           population.columns[4] : '외국인', 
                           population.columns[5] : '고령자'}, inplace=True)
population.head()

     구      세대수       인구수      한국인     외국인      고령자
0   합계  4304243  10041574  9757144  284430  1451564
1  종로구    73828    162413   152026   10387    27155
2   중구    62156    136276   126143   10133    22749
3  용산구   109692    245069   229122   15947    38259
4  성동구   136872    312991   304936    8055    43370